<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derah's Designs</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/stylesheets/sass/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav-container">
      <div class="image-wrap">
        <img src="../public/images/logo.png" alt="" />
      </div>
      <header></header>
      <!-- end of header element -->
    </div>
    <!-- end of nav-container div -->

    <div class="slide-container">
      <button id="slide-up"></button>
      <button id="slide-down"></button>
      <div class="slide">
        <div class="slide-card" id="jankins">
          <!--Each design is in a card-->
          <div class="description">
            <h1>
              OLD <br />
              MAN <br />
              JANKINS<br />
            </h1>
            <span>. gloom . depression . age</span>
          </div>
        </div>
        <div class="slide-card" id="ralph">
          <div class="description">
            <h1>
              RALPH <br />
              THE <br />
              ROBOT<br />
            </h1>

            <span>. minimal . humanoid . expression</span>
          </div>
        </div>
        <div class="slide-card" id="africana">
          <div class="description">
            <h1>
              ART <br />
              AFRICANA<br />
            </h1>
            <span>. historical . traditional . sculpt</span>
          </div>
        </div>
        <div class="slide-card" id="nok">
          <div class="description">
            <h1>
              N.O.K <br />
              AFRICA<br />
            </h1>
            <span>. tribal . cultural . historical</span>
          </div>
        </div>
      </div>
      <!--End of slide container-->
    </div>

    <script>
      const sliderContainer = document.querySelector(".slide-container");
      const slideUp = document.querySelector("#slide-up");
      const slideDown = document.querySelector("#slide-down");
      const ralphImg = document.querySelector("#ralph img");
      const scrollUp = document.querySelector("#slide-up");
      const { innerHeight, scrollY } = window;
    </script>
  </body>
</html>
