////////////colors
$blackBackground: #040404;
$textBlack: #181818;
$gold: #b9961b;
$textWhite: #f5fdff;
$bp-desktop: 576px;


/************************************************* base styles ***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $blackBackground;
    // background: url("../images/body-background.png") no-repeat center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

@mixin textbackgroundStyles {
    position: absolute;
    font-family: "Ubuntu";
    font-size: 18em;
    font-weight: 700;
    color: $textBlack;
    opacity: 0.34;
    text-shadow: -31px 4px 37px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.pexel {
    position: absolute;
    z-index: 3;
    display: none;

    @media screen and (min-width: 576px) {
        display: block;
    }
}

#pexel-1 {
    width: 20px;
    top: 15%;
    left: 75%;
}

#pexel-2 {
    width: 20px;
    top: 20%;
    left: 30%;
}

#pexel-3 {
    width: 25px;
    top: 40%;
    left: 10%;
}

#pexel-4 {
    width: 35px;
    top: 75%;
    left: 45%;
}

.on_desktop {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: block;
    }
}

.on_mobile {
    display: block;

    @media screen and (min-width: $bp-desktop) {
        display: none;
    }
}

/***************************************** end of base styles ******************************************/


.catalogue {
    /* Container for the links to each category*/
    position: relative;
    padding: 50px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    width: 80%;

    .des-wrap {
        top: 0;
        left: 30%;
        @include textbackgroundStyles();

        @media screen and (min-width: 576px) {
            top: -15%;
            left: 30%;
        }
    }

    .ign-wrap {
        top: 45%;
        left: 30%;
        @include textbackgroundStyles();

        @media screen and (min-width: 576px) {
            left: 30%;
        }
    }

    .ui-design,
    .three-d-design {
        z-index: 1;
        text-align: center;

        .ui-image,
        .three-d-image {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            text-align: center;

            a {
                text-decoration: none;
                cursor: pointer;
                color: $textWhite;
            }
        }

        &:hover {

            /* fade out the element on hover*/
            @keyframes fade {

                0% {
                    opacity: 1
                }

                50% {
                    opacity: 0.5;
                }

                75% {
                    opacity: 0.25;
                }

                100% {
                    opacity: 0;
                }
            }

            img {
                opacity: 0;
                animation: fade .5s ease-in-out;
            }

            a {
                /* Neon effect on hover */
                color: $textWhite;
                text-shadow: 0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 21px #fff,
                    0 0 42px #B9961B,
                    0 0 82px #B9961B,
                    0 0 92px #B9961B,
                    0 0 102px #B9961B,
                    0 0 151px #B9961B;
            }

        }

        @media screen and (min-width: 576px) {
            width: 35%;
        }
    }

    /*************************************** 3D-Catalogue Page***********************************/
    .item {
        width: 100%;
        height: 500px;

        img {
            width: 100%;
        }

        .description {
            width: 200px;
            font-family: "Poppins";
            color: $textWhite;
        }

        @media screen and (min-width: 576px) {
            width: 45%;
        }
    }

    #jankins {
        background-image: url(../../images/jankins-alt.png);
    }

    #ralph {
        background-image: url(../../images/ralph.png);
    }

    /**************** End of 3D Catalogue Page ***********************/
    @media screen and (min-width: 576px) {
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
        margin: 5vh auto;
        padding: 0;
        width: 100%;
    }
}