* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(33.69deg, #000000 20%, #131517 81.92%);
}

/************************************************* base styles ***************************************/
/***************Reusable styles **********************/
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  padding: 10px;
  width: 100%;
}
.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 20em;
}
@media (max-width: 600px) {
  .navbar .nav-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #333;
    transition: all 1.5s ease;
    display: none;
    text-align: center;
    z-index: 3;
  }
}
.navbar .nav-links li {
  list-style: none;
  cursor: pointer;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: #f5fdff;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .navbar .nav-links li {
    padding: 1.5em 0;
  }
}
.navbar .menu-toggle {
  display: none;
  color: #f5fdff;
  font-size: 1.2em;
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .navbar .menu-toggle {
    display: block;
  }
}
.navbar .close-toggle {
  display: none;
  color: #f5fdff;
  font-size: 2em;
  cursor: pointer;
}
@media (max-width: 600px) {
  .navbar .close-toggle {
    display: none;
  }
}

.pexel {
  position: absolute;
  z-index: 3;
  display: none;
}
@media (min-width: 600px) {
  .pexel {
    display: block;
  }
}

#pexel-1 {
  width: 20px;
  top: 20%;
  left: 75%;
}

#pexel-2 {
  width: 20px;
  top: 25%;
  left: 30%;
}

#pexel-3 {
  width: 25px;
  top: 40%;
  left: 10%;
}

#pexel-4 {
  width: 35px;
  top: 75%;
  left: 45%;
}

.on_desktop {
  display: none;
}
@media (min-width: 600px) {
  .on_desktop {
    display: block;
  }
}

.on_mobile {
  display: block;
}
@media (min-width: 600px) {
  .on_mobile {
    display: none;
  }
}

.des-wrap {
  top: 20%;
  left: 25%;
  position: fixed;
  font-family: "Ubuntu";
  font-size: 15em;
  font-weight: 700;
  color: #181818;
  opacity: 0.34;
  text-shadow: -31px 4px 37px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media (min-width: 600px) {
  .des-wrap {
    font-size: 18em;
  }
}
@media (min-width: 600px) {
  .des-wrap {
    top: 10%;
    left: 25%;
  }
}

.ign-wrap {
  top: 60%;
  left: 25%;
  position: fixed;
  font-family: "Ubuntu";
  font-size: 15em;
  font-weight: 700;
  color: #181818;
  opacity: 0.34;
  text-shadow: -31px 4px 37px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media (min-width: 600px) {
  .ign-wrap {
    font-size: 18em;
  }
}
@media (min-width: 600px) {
  .ign-wrap {
    top: 50%;
    left: 25%;
  }
}

/***************************************** end of Reusable styles ******************************************/
/************************* Main catalogue page styles ***************************************/
.catalogue {
  /* Container for the links to each category*/
  position: relative;
  padding: 50px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 90vh;
  background: rgba(0, 0, 0, 0.25);
}
.catalogue .ui-design,
.catalogue .three-d-design {
  z-index: 1;
  text-align: center;
}
.catalogue .ui-design .ui-image,
.catalogue .ui-design .three-d-image,
.catalogue .three-d-design .ui-image,
.catalogue .three-d-design .three-d-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.catalogue .ui-design .ui-image img,
.catalogue .ui-design .three-d-image img,
.catalogue .three-d-design .ui-image img,
.catalogue .three-d-design .three-d-image img {
  width: 50%;
  height: auto;
}
@media (min-width: 600px) {
  .catalogue .ui-design .ui-image img,
  .catalogue .ui-design .three-d-image img,
  .catalogue .three-d-design .ui-image img,
  .catalogue .three-d-design .three-d-image img {
    width: 100%;
  }
  .catalogue .ui-design .ui-image img:hover,
  .catalogue .ui-design .three-d-image img:hover,
  .catalogue .three-d-design .ui-image img:hover,
  .catalogue .three-d-design .three-d-image img:hover {
    /* increase image size on hover*/
    transform: scale(1.2);
    transition: transform 1s ease;
  }
}
.catalogue .ui-design p,
.catalogue .three-d-design p {
  text-align: center;
  color: #f5fdff;
}
@media (min-width: 600px) {
  .catalogue .ui-design,
  .catalogue .three-d-design {
    width: 35%;
  }
}
@media (min-width: 600px) {
  .catalogue {
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
}

/********************* end of main catalogue page styles ***************/
/******* 3d Catalogue Page Styles *******/
.slide-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.slide-container #slide-up {
  display: none;
  border: 0;
  background: none;
  width: 3em;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 50vw;
  z-index: 2;
}
.slide-container #slide-up img {
  width: 100%;
  transform: rotate(180deg);
}
.slide-container #slide-down {
  display: none;
  border: 0;
  background: none;
  width: 3em;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 50vw;
  z-index: 2;
}
.slide-container #slide-down img {
  width: 100%;
}
@media (min-width: 600px) {
  .slide-container #slide-down {
    display: block;
  }
}
.slide-container .slider .slide-group {
  width: 100%;
  height: 100%;
}
.slide-container .slider .slide-group .slide-card {
  height: 500px;
  width: 100%;
  padding: 100px 50px;
}
@media (min-width: 600px) {
  .slide-container .slider .slide-group .slide-card {
    width: 50%;
    padding: 200px 25px;
  }
}
@media (min-width: 600px) {
  .slide-container .slider .slide-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.slide-container .slider #jankins {
  background: url("../../images/jankins-alt.png") no-repeat;
  background-size: 25em;
  background-position: 60% center;
  box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  position: relative;
}
.slide-container .slider #jankins .description {
  font-family: "Poppins";
  position: absolute;
  color: #f5fdff;
  top: 45%;
  left: 25%;
}
.slide-container .slider #jankins .description h1 {
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 600px) {
  .slide-container .slider #jankins .description h1 {
    font-size: 2em;
  }
}
.slide-container .slider #jankins .description span {
  font-size: 12px;
  opacity: 0.72;
}
@media (min-width: 600px) {
  .slide-container .slider #jankins {
    background-size: 80%;
  }
}
.slide-container .slider #ralph {
  background: url("../../images/ralph-alt.png") no-repeat;
  background-size: 15em;
  background-position: 80% center;
  box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  position: relative;
}
.slide-container .slider #ralph .description {
  font-family: "Poppins";
  position: absolute;
  color: #f5fdff;
  top: 50%;
  left: 15%;
}
.slide-container .slider #ralph .description h1 {
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 600px) {
  .slide-container .slider #ralph .description h1 {
    font-size: 2em;
  }
}
.slide-container .slider #ralph .description span {
  font-size: 12px;
  opacity: 0.72;
}
@media (min-width: 600px) {
  .slide-container .slider #ralph .description {
    left: 10%;
  }
}
@media (min-width: 600px) {
  .slide-container .slider #ralph {
    background-image: url("../../images/ralph.png");
    background-size: 80%;
  }
}
.slide-container .slider #africana {
  background: url("../../images/africana.png") no-repeat;
  background-size: 100%;
  background-position: center center;
  box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  position: relative;
}
.slide-container .slider #africana .description {
  font-family: "Poppins";
  position: absolute;
  color: #f5fdff;
  top: 60%;
  left: 10%;
}
.slide-container .slider #africana .description h1 {
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 600px) {
  .slide-container .slider #africana .description h1 {
    font-size: 2em;
  }
}
.slide-container .slider #africana .description span {
  font-size: 12px;
  opacity: 0.72;
}
@media (min-width: 600px) {
  .slide-container .slider #africana {
    background-size: 80%;
  }
}
.slide-container .slider #nok {
  background: url("../../images/nok.png") no-repeat;
  background-size: 100%;
  background-position: 70% center;
  box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  position: relative;
}
.slide-container .slider #nok .description {
  font-family: "Poppins";
  position: absolute;
  color: #f5fdff;
  top: 60%;
  left: 10%;
}
.slide-container .slider #nok .description h1 {
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 600px) {
  .slide-container .slider #nok .description h1 {
    font-size: 2em;
  }
}
.slide-container .slider #nok .description span {
  font-size: 12px;
  opacity: 0.72;
}
@media (min-width: 600px) {
  .slide-container .slider #nok {
    background-size: 80%;
  }
}
@media (min-width: 600px) {
  .slide-container .slider {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
}
@media (min-width: 600px) {
  .slide-container {
    overflow-y: hidden;
  }
}/*# sourceMappingURL=style.css.map */